<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'Game Summary: ' + ${homeTeam.name} + ' ' + ${game.homeTeamScore} + '-' + ${game.awayTeamScore} + ' ' + ${awayTeam.name}"></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css" integrity="sha384-NvKbDTEnL+A8F/AA5Tc5kmMLSJHUO868P+lDtTpJIeQdGYaUIuLr4lVGOEA1OcMy" crossorigin="anonymous">

    <link rel="stylesheet" href="/CSS/mainPage.css">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container text-center">
    <div class="row">
        <div class="col-3 border border-dark"> <!-- home team -->
            <div class="card w-100">
                <img th:src="${homeTeam.logoUrl}" class="card-img-top" alt="Home Team Badge">
                <div class="card-body">
                    <a th:href="'/teamDetails/' + ${homeTeam.id}"><h5 class="card-title" th:text="${homeTeam.name}"></h5></a>
                </div>
            </div>
        </div>
        <div class="col-6 border border-dark container"> <!-- Game Information -->

            <div class="row">
                <h1>Game Summary</h1>
            </div>
            <div class="row">
                <h2><a th:text="${league.name} + ' ' + ${season.year}" th:href="'/league/' + ${league.id}"></a></h2>
            </div>
            <div class="row">
                <h2 th:text="${game.date}"></h2>
            </div>
            <div class="row">
                <div class="col-5"><h3 th:text="${game.homeTeamScore}"></h3></div>
                <div class="col-2"><h3>VS</h3></div>
                <div class="col-5"><h3 th:text="${game.awayTeamScore}"></h3></div>
            </div>
            <div class="row">
                <table class="table text-center mt-4">
                    <thead>
                    <tr>
                        <th scope="col">Q</th>
                        <th scope="col">1</th>
                        <th scope="col">2</th>
                        <th scope="col">3</th>
                        <th scope="col">4</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row" th:text="${homeTeam.name}"></th>
                        <td th:text="${game.homeTeamScoreQ1}"></td>
                        <td th:text="${game.homeTeamScoreQ2}"></td>
                        <td th:text="${game.homeTeamScoreQ3}"></td>
                        <td th:text="${game.homeTeamScoreQ4}"></td>
                        <td th:text="${game.homeTeamScore}" class="border border-dark"></td>
                    </tr>
                    <tr>
                        <th scope="row" th:text="${awayTeam.name}"></th>
                        <td th:text="${game.awayTeamScoreQ1}"></td>
                        <td th:text="${game.awayTeamScoreQ2}"></td>
                        <td th:text="${game.awayTeamScoreQ3}"></td>
                        <td th:text="${game.awayTeamScoreQ4}"></td>
                        <td th:text="${game.awayTeamScore}" class="border border-dark"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-3 border border-dark"> <!-- away team -->
            <div class="card w-100">
                <img th:src="${awayTeam.logoUrl}" class="card-img-top" alt="Away Team Badge">
                <div class="card-body">
                    <a th:href="'/teamDetails/' + ${awayTeam.id}"><h5 class="card-title" th:text="${awayTeam.name}"></h5></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Box Score -->
    <!-- Passing -->
    <div class="row text-start">
        <div class="col-6 border border-dark">
            <h4 th:text="${homeTeam.name} + ' Passing'"></h4>
            <!--<p class="d-none" th:text="${game.homePassing}" id="homePassing"></p>-->
            <table class="table" id="homePassingTable">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">PLAYER</th>
                    <th scope="col">C-A</th>
                    <th scope="col">YDS</th>
                    <th scope="col">TD</th>
                    <th scope="col">INT</th>
                    <th scope="col">CMP%</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="passer : ${homePassing}">
                    <td th:text="${passer.playerNumber}"></td>
                    <td>
                        <a th:text="${passer.playerName}" th:href="'/playerDetails/' + ${passer.playerId}"></a>
                    </td>
                    <td th:text="${passer.completions + '-' + passer.attempts}"></td>
                    <td th:text="${passer.yards}"></td>
                    <td th:text="${passer.touchdowns}"></td>
                    <td th:text="${passer.interceptions}"></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6 border border-dark">
            <h4 th:text="${awayTeam.name} + ' Passing'"></h4>
            <!--<p class="d-none" th:text="${game.awayPassing}" id="awayPassing"></p>-->
            <table class="table" id="awayPassingTable">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">PLAYER</th>
                    <th scope="col">C-A</th>
                    <th scope="col">YDS</th>
                    <th scope="col">TD</th>
                    <th scope="col">INT</th>
                    <th scope="col">CMP%</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="passer : ${awayPassing}">
                    <td th:text="${passer.playerNumber}"></td>
                    <td>
                        <a th:text="${passer.playerName}" th:href="'/playerDetails/' + ${passer.playerId}"></a>
                    </td>
                    <td th:text="${passer.completions + '-' + passer.attempts}"></td>
                    <td th:text="${passer.yards}"></td>
                    <td th:text="${passer.touchdowns}"></td>
                    <td th:text="${passer.interceptions}"></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Rushing -->
    <div class="row text-start">
        <div class="col-6 border border-dark">
            <h4 th:text="${homeTeam.name} + ' Rushing'"></h4>
            <table class="table" id="homeRushingTable">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">PLAYER</th>
                    <th scope="col">ATT</th>
                    <th scope="col">YDS</th>
                    <th scope="col">TD</th>
                    <th scope="col">LNG</th>
                    <th scope="col">AVG</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="rusher : ${homeRushing}">
                    <td th:text="${rusher.playerNumber}"></td>
                    <td>
                        <a th:text="${rusher.playerName}" th:href="'/playerDetails/' + ${rusher.playerId}"></a>
                    </td>
                    <td th:text="${rusher.attempts}"></td>
                    <td th:text="${rusher.yards}"></td>
                    <td th:text="${rusher.touchdowns}"></td>
                    <td th:text="${rusher.longest}"></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6 border border-dark">
            <h4 th:text="${awayTeam.name} + ' Rushing'"></h4>
            <table class="table" id="awayRushingTable">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">PLAYER</th>
                    <th scope="col">ATT</th>
                    <th scope="col">YDS</th>
                    <th scope="col">TD</th>
                    <th scope="col">LNG</th>
                    <th scope="col">AVG</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="rusher : ${awayRushing}">
                    <td th:text="${rusher.playerNumber}"></td>
                    <td>
                        <a th:text="${rusher.playerName}" th:href="'/playerDetails/' + ${rusher.playerId}"></a>
                    </td>
                    <td th:text="${rusher.attempts}"></td>
                    <td th:text="${rusher.yards}"></td>
                    <td th:text="${rusher.touchdowns}"></td>
                    <td th:text="${rusher.longest}"></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Receiving -->
    <div class="row text-start">
        <div class="col-6 border border-dark">
            <h4 th:text="${homeTeam.name} + ' Receiving'"></h4>
            <table class="table" id="homeReceivingTable">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">PLAYER</th>
                    <th scope="col">REC</th>
                    <th scope="col">YDS</th>
                    <th scope="col">TD</th>
                    <th scope="col">LNG</th>
                    <th scope="col">AVG</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="receiver : ${homeReceiving}">
                    <td th:text="${receiver.playerNumber}"></td>
                    <td>
                        <a th:text="${receiver.playerName}" th:href="'/playerDetails/' + ${receiver.playerId}"></a>
                    </td>
                    <td th:text="${receiver.receptions}"></td>
                    <td th:text="${receiver.yards}"></td>
                    <td th:text="${receiver.touchdowns}"></td>
                    <td th:text="${receiver.longest}"></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6 border border-dark">
            <h4 th:text="${awayTeam.name} + ' Receiving'"></h4>
            <table class="table" id="awayReceivingTable">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">PLAYER</th>
                    <th scope="col">REC</th>
                    <th scope="col">YDS</th>
                    <th scope="col">TD</th>
                    <th scope="col">LNG</th>
                    <th scope="col">AVG</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="receiver : ${awayReceiving}">
                    <td th:text="${receiver.playerNumber}"></td>
                    <td>
                        <a th:text="${receiver.playerName}" th:href="'/playerDetails/' + ${receiver.playerId}"></a>
                    </td>
                    <td th:text="${receiver.receptions}"></td>
                    <td th:text="${receiver.yards}"></td>
                    <td th:text="${receiver.touchdowns}"></td>
                    <td th:text="${receiver.longest}"></td>
                    <td></td>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="/JS/gameDetails.js"></script>
</body>
</html>