<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Game</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css" integrity="sha384-NvKbDTEnL+A8F/AA5Tc5kmMLSJHUO868P+lDtTpJIeQdGYaUIuLr4lVGOEA1OcMy" crossorigin="anonymous">

    <link rel="stylesheet" href="/CSS/mainPage.css">
    <link rel="stylesheet" href="/CSS/newGame.css">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container text-center">
    <h1>Add New Game</h1>
    <form th:method="post" th:action="@{/addGame}" th:object="${game}">
        <div class="row">
            <div class="col-6">
        <h2>Required fields</h2><br>
        <label for="homeTeam" class="form-label">Home Team:</label>
        <select id="homeTeam" class="form-select" name="homeTeam" th:field="*{homeTeamId}" onchange="setSelectedHomeTeam()" required>
            <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name}"></option>
        </select>
        <label for="awayTeam" class="form-label">Away Team:</label>
        <select id="awayTeam" class="form-select " name="awayTeam" th:field="*{awayTeamId}" onchange="setSelectedAwayTeam()" required>
            <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name}"></option>
        </select>
        <label for="date" class="form-label">Date:</label>
        <input type="date" class="form-control" id="date" name="date" th:field="*{date}" required><br>
                <h2>Scorecard</h2>
                <table class="m-auto">
                    <thead>
                    <tr>
                        <th scope="col">Q</th>
                        <th scope="col">1</th>
                        <th scope="col">2</th>
                        <th scope="col">3</th>
                        <th scope="col">4</th>
                        <th scope="col">=</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row" id="homeTeamName">Home</th>
                        <td><input type="number" class="form-control" id="homeTeamScoreQ1" name="homeTeamScoreQ1" th:field="*{homeTeamScoreQ1}" onchange="fixHomeScore()"></td>
                        <td><input type="number" class="form-control" id="homeTeamScoreQ2" name="homeTeamScoreQ2" th:field="*{homeTeamScoreQ2}" onchange="fixHomeScore()"></td>
                        <td><input type="number" class="form-control" id="homeTeamScoreQ3" name="homeTeamScoreQ3" th:field="*{homeTeamScoreQ3}" onchange="fixHomeScore()"></td>
                        <td><input type="number" class="form-control" id="homeTeamScoreQ4" name="homeTeamScoreQ4" th:field="*{homeTeamScoreQ4}" onchange="fixHomeScore()"></td>
                        <td><input type="number" class="form-control" id="homeTeamScore" name="homeTeamScore" th:field="*{homeTeamScore}" onchange="fixHomeScore()" required></td>
                    </tr>
                    <tr>
                        <th scope="row" id="awayTeamName">Away</th>
                        <td><input type="number" class="form-control" id="awayTeamScoreQ1" name="awayTeamScoreQ1" th:field="*{awayTeamScoreQ1}" onchange="fixAwayScore()"></td>
                        <td><input type="number" class="form-control" id="awayTeamScoreQ2" name="awayTeamScoreQ2" th:field="*{awayTeamScoreQ2}" onchange="fixAwayScore()"></td>
                        <td><input type="number" class="form-control" id="awayTeamScoreQ3" name="awayTeamScoreQ3" th:field="*{awayTeamScoreQ3}" onchange="fixAwayScore()"></td>
                        <td><input type="number" class="form-control" id="awayTeamScoreQ4" name="awayTeamScoreQ4" th:field="*{awayTeamScoreQ4}" onchange="fixAwayScore()"></td>
                        <td><input type="number" class="form-control" id="awayTeamScore" name="awayTeamScore" th:field="*{awayTeamScore}" onchange="fixAwayScore()" required></td>
                    </tr>
                    </tbody>
                </table><br>
                <button class="btn btn-success" type="button" onclick="showAddPlayerStatsForm()">Update Box Score</button>
                <br><br>
                <input type="submit" class="btn btn-primary" value="Submit Game">
                </div>
            <div class="col-6">
                <h4>Box Score (Optional)</h4>
                <div class="border border-dark">
                <h4 class="text-start">Home Passing</h4>
                <input type="hidden" id="homePassing" th:field="*{homePassing}">
                <table class="table" id="homePassingTable">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">PLAYER</th>
                        <th scope="col">C-A</th>
                        <th scope="col">YDS</th>
                        <th scope="col">TDS</th>
                        <th scope="col">INT</th>
                        <th scope="col">CMP%</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                    </div>
                <div class="border border-dark">
                <h4 class="text-start">Away Passing</h4>
                <input type="hidden" id="awayPassing" th:field="*{awayPassing}">
                <table class="table" id="awayPassingTable">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">PLAYER</th>
                        <th scope="col">C-A</th>
                        <th scope="col">YDS</th>
                        <th scope="col">TDS</th>
                        <th scope="col">INT</th>
                        <th scope="col">CMP%</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                    </div>
                <div class="border border-dark">
                    <h4 class="text-start">Home Rushing</h4>
                    <input type="hidden" id="homeRushing" th:field="*{homeRushing}">
                    <table class="table" id="homeRushingTable">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">PLAYER</th>
                            <th scope="col">ATT</th>
                            <th scope="col">YDS</th>
                            <th scope="col">TDS</th>
                            <th scope="col">LNG</th>
                            <th scope="col">AVG</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="border border-dark">
                    <h4 class="text-start">Away Rushing</h4>
                    <input type="hidden" id="awayRushing" th:field="*{awayRushing}">
                    <table class="table" id="awayRushingTable">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">PLAYER</th>
                            <th scope="col">ATT</th>
                            <th scope="col">YDS</th>
                            <th scope="col">TDS</th>
                            <th scope="col">LNG</th>
                            <th scope="col">AVG</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="border border-dark">
                    <h4 class="text-start">Home Receiving</h4>
                    <input type="hidden" id="homeReceiving" th:field="*{homeReceiving}">
                    <table class="table" id="homeReceivingTable">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">PLAYER</th>
                            <th scope="col">REC</th>
                            <th scope="col">YDS</th>
                            <th scope="col">TDS</th>
                            <th scope="col">LNG</th>
                            <th scope="col">AVG</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="border border-dark">
                    <h4 class="text-start">Away Receiving</h4>
                    <input type="hidden" id="awayReceiving" th:field="*{awayReceiving}">
                    <table class="table" id="awayReceivingTable">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">PLAYER</th>
                            <th scope="col">REC</th>
                            <th scope="col">YDS</th>
                            <th scope="col">TDS</th>
                            <th scope="col">LNG</th>
                            <th scope="col">AVG</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

        <!-- Start of add Player Stats modal form, does not affect the layout of the page -->

        <div id="addPlayerStatsForm">
            <label for="statType" class="form-label">Stat Type</label>
            <select id="statType" name="statType" class="form-select" onchange="updateStatInputFields()">
                <option value="Passing">Passing</option>
                <option value="Rushing">Rushing</option>
                <option value="Receiving">Receiving</option>
            </select>
            <label for="homeOrAway" class="form-label">Home or Away</label>
            <select id="homeOrAway" name="homeOrAway" class="form-select" onchange="filterPlayers()">
                <option value="Home">Home</option>
                <option value="Away">Away</option>
            </select>
            <label for="player" class="form-label">Player</label>
            <select id="player" name="player" class="form-select" onchange="filterPlayers()">
                <option th:each="player : ${players}" th:value="${player.id}" th:text="${player.name}" th:class="${player.number}" th:name="${player.teamId}"></option>
            </select>
            <table class="m-auto">
                <thead>
                <tr>
                    <th><label for="playerStat1" id="playerStat1Label">C-A</label></th>
                    <th><label for="playerStat2" id="playerStat2Label">YDS</label></th>
                    <th><label for="playerStat3" id="playerStat3Label">TDS</label></th>
                    <th><label for="playerStat4" id="playerStat4Label">INT</label></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" class="form-control" id="playerStat1" name="playerStat1" pattern="[0-9-]{5}"></td><!-- Only allow numbers and -, and a maximum of 5 characters-->
                    <td><input type="number" class="form-control" id="playerStat2" name="playerStat2"></td>
                    <td><input type="number" class="form-control" id="playerStat3" name="playerStat3"></td>
                    <td><input type="number" class="form-control" id="playerStat4" name="playerStat4"></td>
                </tr>
                </tbody>
            </table>
            <br>
            <button type="button" class="btn btn-primary" onclick="addStatToForm()">Submit</button>
            <button type="button" class="btn btn-secondary" onclick="cancelForm()">Cancel</button>
        </div>
        <!-- End of modal form -->
        </div>
    </form>
</div>
<script src="/JS/newGame.js"></script>
</body>
</html>